lombok.anyConstructor.suppressConstructorProperties=true
# jackson with lombok (value or builder)
lombok.anyConstructor.addConstructorProperties=true
lombok.addNullAnnotations=jetbrains
#lombok.accessors.fluent=true

config.stopBubbling = true
# not seem real ok for production safe
lombok.val.flagUsage = warning
lombok.var.flagUsage = warning

lombok.copyableAnnotations += com.fasterxml.jackson.annotation.JsonIgnore
lombok.copyableAnnotations += com.fasterxml.jackson.annotation.JsonProperty